@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap);body {
  background: #111214;
  font-family: sans-serif;
  margin: 0;
  padding: 0
}

.background,body {
  height: 100vh;
  overflow: hidden
}

.background {
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1
}

.background,.background__img {
  position: absolute
}

.background__img--logo {
  left: -20%;
  opacity: .5;
  rotate: 6deg;
  top: 40%; 
  -webkit-transform: translate(-25%,-35%);
  transform: translate(-25%,-35%);
  width: 150vh
}

.background__img--fade {
  height: 100%;
  width: 100%
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7vh;
  height: 100vh;
  justify-content: right;
  margin-left: 30%;
  margin-top: 15%;
  position: relative;
  z-index: 2
}

@media (max-width: 1015px) {
  .main {
      align-items:center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 30%
  }
}

.main__img {
  margin-left: 10%;
  position: relative;
  width: 50vh
}

.main__text {
  color: #fff;
  font-family: Popins,sans-serif;
  font-size: 5.5vh;
  margin-left: 10%;
  text-align: center
}

.main__text--wrap {
  word-wrap: break-word;
  width: 60vh
}

@media screen and (max-width: 668px) {
  .main__text--wrap {
      word-wrap:break-word;
      width: 180%
  }
}

.main-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  justify-content: center;
  margin-left: 10%;
  width: 25mm;
}

.main-button--property {
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px; 
  text-align: center
}

.main-buton--discord {
  background: linear-gradient(90deg,#5865f2,#1c2481);
}

.main-buton--twitter {
  background: linear-gradient(90deg,#171515,#000);
}